### These files should get ignored no matter where they appear.

# Editors leave these lying around
\#*\#
.#*
*~
*.swp

# C stuff
*.o

# Assembly stuff
*.S
*.s

# Windows stuff
*.obj
*.exe
*.lib

# Patch leaves these lying arround
*.orig
*.rej

# gcov stuff
*.gcno
*.gcov
*.gcda

# Autotools stuff
.deps
.dirstamp
Makefile
Makefile.in

# Libtool stuff
.libs
*.lo
*.la

*.def
*.pc

# tests
test-driver
*.log
*.trs
tests/aes_wrap*
tests/arc4random_fork*
tests/cipher*
tests/explicit_bzero*
tests/gost2814789t*
tests/mont*
tests/timingsafe*
tests/*test
tests/tests.h
tests/*test.c
tests/memmem.c
tests/pbkdf2*
tests/*.pem
tests/testssl
tests/*.txt
!tests/optionstest.c

# ctags stuff
TAGS

autom4te.cache

# Libtool adds these, at least sometimes
INSTALL
/COPYING
m4/l*
!m4/check*.m4

aclocal.m4
compile
doxygen
config.guess
config.log
config.status
config.sub
configure
depcomp
config.h
config.h.in
install-sh
libtool
ltmain.sh
missing
stamp-h1
stamp-h2

include/openssl/Makefile.am

VERSION
crypto/VERSION
ssl/VERSION
tls/VERSION
libtls-standalone/VERSION

ssl/*.c
ssl/*.h
tls/*.c
tls/*.h
include/pqueue.h
include/tls.h
include/openssl/*.h
include/openssl/*.he

/apps/*.h
/apps/*.c
/apps/openssl
/apps/openssl.cnf
!/apps/apps_win.c
!/apps/poll_win.c
!/apps/certhash_disabled.c

/crypto
!/crypto/Makefile.am.*
!/crypto/compat/arc4random.h
!/crypto/compat/b_win.c
!/crypto/compat/explicit_bzero_win.c
!/crypto/compat/posix_win.c
!/crypto/compat/bsd_asprintf.c
!/crypto/compat/inet_pton.c
!/crypto/compat/ui_openssl_win.c
!/crypto/CMakeLists.txt

/libtls-standalone/include/*.h
/libtls-standalone/src/*.c
/libtls-standalone/src/*.h
/libtls-standalone/src
/libtls-standalone/tests/test
/libtls-standalone/compat
!/libtls-standalone/compat/Makefile.am
/libtls-standalone/VERSION
/libtls-standalone/m4
/libtls-standalone/man

openbsd/

*.tar.gz
apps/*.1*
man/*.3
man/*.1
man/Makefile.am
