# GitHub Actions workflow to run tests on macOS.
name: "macOS"

on:
  push: {}
  pull_request: {}
  schedule:
    - cron: "0 0 * * 0" # At 00:00 weekly on Sunday.

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: "${{ matrix.os }}/${{ matrix.arch }}"
    runs-on: "${{ matrix.os }}"
    if: ${{ github.repository_owner == 'libressl' || github.event_name != 'schedule' }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: ["macos-13", "macos-12", "macos-11"]
        arch: ["arm64", "x86_64"]
    steps:
    - name: "Install required packages"
      run: brew install automake

    - name: "Checkout repository"
      uses: actions/checkout@v4

    - name: "Run tests"
      run: ./scripts/test
      env:
        ARCH: "${{ matrix.arch }}"
